.centered {
    position: fixed;
    margin-top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-group{
    height: 230px;
    max-height: 230px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.inline{
	display: inline;
}

.alert-custom{
	margin-left: -25%;
    position: absolute;
    z-index: 1;
    width: 899px;
    display: none;
    opacity: 500;
    margin-top: 8%;
}