.centered {
    position: fixed;
    margin-top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-group{
    max-height: 200px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.inline{
	display: inline;
}